MEETSTREAM_API_KEY=your_meetstream_key_here
MEETSTREAM_AGENT_CONFIG_ID=your_agent_config_id_here
MEETING_LINK=https://meet.google.com/abc-defg-hij
NGROK_AUTHTOKEN=your_ngrok_token_here
PORT=3000
ADAPTER_ONLY=false
